body {
    margin: 0;
    padding: 0;

    font: 100.1% Verdana;
	font-size: 75%;
	/*width: 99%;*/
	/*height: 100%;*/
	
	/*float: right;*/
}

div {
	display: block;
}

.ntk-sidebar-right {
	background-color: #EAEAEA;	
}

.rxt.personal-physical .rxt-content {
	background: #FF5D15 url('images/rxt_personal_physical_bg.jpg') repeat-x 0px -10px;
	border-bottom: none;
	/*border: solid #F8831B;*/
}

.rxt.personal-physical .rxt-content, .rxt.personal-juridical .rxt-content {
	color: white;
	padding: 5px 10px 0px;
}

.rxt.personal-physical .separate, .rxt.personal-juridical .separate {
	border-bottom: 1px dashed white;
	margin: 15px 0px 15px;
}

.rxt.personal h2 {
	margin: 0px 0px 5px;
}

h1, h2, h3 {
	margin: 0px 0px 11px;
	padding: 0px;
}

h2 {
	display: block;
	font-size: 120%;
	font-weight: bold;
	margin: 0.83em 0px;
}

.rxt.personal .rxt-content {
	background-color: #EAEAEA;
	border-bottom: none;
	border-top: none;
	padding-bottom: 1px;
	margin: 0px 9px;
}

.rxt .rxt-top, .rxt .rxt-bot {
	height: 9px;
	line-height: 9px;
	margin: 0px 9px;
	position: relative;
}

.rxt.personal-physical .porog {
	font-size: 85%;
	font-weight: bold;
	padding-bottom: 1px;
}

.rxt.personal {
	margin-bottom: 0px;
}
.rxt {
	/*margin: 0px 0px 25px;
	position: relative;*/
}

.rxt h1.balance {
	border: none;
	font-size: 210%;
	font-weight: normal;
	margin: 0px 0px 0px;
}

.rxt.personal-physical span.porog b {
	font-weight: normal;	
	white-space: nowrap;
}

.rxt .rxt-top, .rxt .rxt-bot {
	line-height: 9px;
}

.rxt .rxt-top .r-l, .rxt .rxt-bot .r-l {
	left: -9px;
}

.rxt .rxt-top .r-r, .rxt .rxt-bot .r-r {
	right: -9px;
}

.rxt.personal-physical .rxt-bot .r-l, .rxt.personal-physical .rxt-bot .r-r {
	background: url('images/rxt_personal_physical.jpg') no-repeat 0px 0px;
}

.rxt.personal-physical .rxt-bot .r-r {
	background-position: 0px -9px;
}

.rxt.personal-physical .rxt-bot .trans {
	background-color: #FF5C15;
}

.rxt .trans {
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0px;
}

.rxt .rxt-top, .rxt .rxt-bot {
	line-height: 9px;
}

.rxt .rxt-top .r-l, .rxt .rxt-bot .r-l, .rxt .rxt-top .r-r, .rxt .rxt-bot .r-r {
	border: none;
	height: 9px;
	position: absolute;
	width: 9px;
	top: 0px;
}
